.w_100{
    width: 100% !important; 
}

.p-l-30{
    padding-left: 30px;
}

.p-r-30{
    padding-right: 30px;
}

.rounded-pill{
    border-radius: 5rem;
}

.w-full{
    width: 100%;
}

.p-l-10{
    padding-left: 10px;
}

.p-r-10{
    padding-right: 10px;
}

.p-t-10{
    padding-top: 10px;
}


