
*{
    direction: rtl;
}



.w_100{
    width: 100% !important; 
}

.p-l-30{
    padding-left: 30px;
}

.p-r-30{
    padding-right: 30px;
}

.rounded-pill{
    border-radius: 5rem;
}

.w-full{
    width: 100%;
}

.p-l-10{
    padding-left: 10px;
}

.p-r-10{
    padding-right: 10px;
}

.p-t-10{
    padding-top: 10px;
}


@media (min-width:600px){
    #top_actions_section{
        display: flex !important;
        align-items: center !important;
    }
}


.user-list-item.active .user-list-arrow-icon{
    transform: rotate(180deg);
}


.user-list-item.active , 
.user-list-item.active .collapsible-header{
    background-color: rgba(169, 166, 166, 0.395);
}

table.highlight > tbody > tr:hover {
    background-color: #e0e0e0bd;
}

.container{
    width: 100% !important;
}
.add-user-modal-back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(49, 47, 46, 0.5);
    top: 0;
    left: 0;
    z-index:99 ;
}
.add-user-modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: -70vh;
}

.add-user-modal.show{
    bottom: 0;
    box-shadow: 0 0 10px grey;
}

.sidenav-link-icon{
    margin: 0 0 0 25px !important;
}